@import "~antd/dist/antd.less";
.layout {
  background: #f7f7f7;
}
.logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 42px;
  float: left;
}
.content {
  background: #f7f7f7;
  padding: 24px;
  margin: 16px 90px;
  min-height: 550px;
  font-size: 14px;
}
.header {
  background: #0089dc;
}
.menu {
  line-height: 64px;
  margin: 0 160px;
  background: #0089dc;
  font-size: 16px;
  color: #fff;
}
